:root {
  --primary-color: #f27a1a;
  --account-link-color: #333;
  --account-link-hover-color: var(--primary-color);
  --secondary-text-color: #ffffff;
  --banner-color: #c4c4c4;
  --banner-content-color: #1b1b1b;
}

rectangle {
  position: absolute;
  background: #e8e8e8;
  width: 1920px;
  height: 1px;
  top: 191px;
  left: 0px;
}

html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.header-links a {
  color: #999999;
  font-size: 12px;
}

.header-links a:hover {
  color: #666666;
}

.logo-search-account-container {
  display: grid;
  grid-template-columns: 140px 1fr 335px;
  margin-top: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 10px;
  position: relative;
  width: 600px;
}

.search input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
}

.search button {
  background: none;
  border: none;
}

.search .searchbar-dropdown {
  background-color: #ffffff;
  width: 600px;
  height: 167px;
  z-index: 1;
  position: absolute;
  top: 100%;
  right: -1px; /* //TODO:  burası nasıl olacak */
  left: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}

.search:focus-within .searchbar-dropdown {
  display: inline;
  box-shadow: 0px 0px 0px 1px var(--primary-color);
}
.search:focus-within {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 0px 0px 1px var(--primary-color);
}

/* Dropdown */

.searchbar-dropdown {
  padding: 17px 10px 0 18px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
}

.dropdown-header span {
  font-size: 12px;
  color: var(--primary-color);
}

.dropdown-header button {
  font-size: 12px;
  color: #333;
  font-family: Source Sans Pro;
}

.dropdown-body .dropdown-list {
  padding: 0;
  margin: 0;
}

.dropdown-body .dropdown-list a {
  color: #333;
  font-size: 12px;
}

/* Kopyalandı (START) */
.logo-search-account-container .accounts-nav {
  height: 42px;
  /* display: flex;
  align-items: center; */
  justify-content: right;
}

.accounts-list ul {
  height: 100%;
}

.accounts-nav li {
  height: 100%;
  display: flex;
  align-items: center;
}

.accounts-nav ul {
  margin: 0;
}

/* Kopyalandı (END) */

.account-list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin-left: auto;
}

.account-list li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--account-link-color);
}

.account-list li a:hover {
  color: var(--primary-color);
}

.account-list li a:hover svg path {
  fill: var(--account-link-hover-color);
}

.user-menu {
  display: none;
  width: 170px;
  height: 289px;
  padding: 15px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 41px;
  left: -60px;
  z-index: 999;
}

.user-menu:after,
.user-menu:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  /* bottom: -20px; */ /* TODO: triangle border'ını etkiliyor */
  top: -10px;
  transform: rotate(180deg);
  content: "";
  left: 59%;
  margin-left: -10px;
  position: absolute;
}

.user-menu:before {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid;
  border-top-color: inherit;
  /* bottom: -23px; */ /* TODO: triangle border'ını etkiliyor */
  top: -11px;
  margin-left: -11px;
}

.user-menu li {
  font-size: 14px;
  color: #1b1b1b;
  height: 18px;
}

.account-list li:first-child {
  color: var(--primary-color);
  /* margin-bottom: 12px; */ /* TODO: user-menu ye margin atıyor */
}

.account-list li:hover {
  position: relative;
}

.account-list li:hover .user-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.short-banner {
  width: 330px;
  height: 330px;
  margin-bottom: 40px;
}

.stroy-wrapper {
  margin-top: 29px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  gap: 26px;
}
.story-item {
  display: flex;
  width: 75px;
  gap: 10px;
  flex-direction: column;
}

.story-item label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;

  color: #333333;
}

.account-list li:hover .user-menu-container {
  padding: 15px;
}

.triangle {
  border-color: blue transparent transparent transparent;
  border-style: solid;
  border-width: 20px 10px 0px 10px;
  width: 0px;
  height: 0px;
}

/* #region banner */

.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.long-banner {
  margin-bottom: 15px;
}

.long-banner:hover {
  outline: 1px solid var(--primary-color);
  outline-offset: -1px;
}

.long-banner a,
.long-banner a:visited,
.sidebar a,
.sidebar a:visited {
  text-decoration: none;
  color: #000000;
}

.long-banner:hover .banner-content {
  background: var(--primary-color);
}

.long-banner:hover .banner-link {
  display: block;
}

.long-banner-holder {
  background: var(--banner-color);
  width: 750px;
  height: 310px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  background: var(--banner-content-color);
  color: var(--secondary-text-color);
  height: 30px;
  font-size: 14px;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
}

.banner-link {
  display: none;
  color: var(--secondary-text-color);
}

.banner-link img {
  margin-left: 7px;
}

.short-banner-holder {
  background: var(--banner-color);
  margin-bottom: 40px;
  width: 330px;
  height: 330px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main:last-child,
.sidebar:last-child {
  margin-bottom: 0;
}

/* #endregion banner */

/* -- REGION NAVIGATION MENU */

.nav-menu {
  margin: 30px 0;
  width: 1095px;
}

.nav-menu-main-categories {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  text-align: center;
}

.nav-menu-main-categories > li {
  padding: 0 25px 9px 25px;
}

.nav-menu-main-categories > li:hover {
  border-bottom: 1px solid var(--primary-color);
}

.nav-menu-main-categories > li:first-child {
  border-bottom: 1px solid white;
}

.nav-menu-main-categories > li > a {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
}

.nav-menu-sub-categories {
  display: none;
  width: 1100px;
  height: 335px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 30px;
  gap: 20px;
  padding: 24px;
  text-align: initial;
  font-size: 13px;
  color: #666;
  z-index: 1;
}

.nav-menu-sub-categories ul {
  padding: 0;
}

.nav-menu-dropdown-links {
  font-size: 13px;
  line-height: 16px;
  color: #666;
}

.nav-menu-dropdown-links:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: color 250ms, text-decoration 50ms;
}

.nav-menu-sub-categories ul li:first-child a {
  font-size: 15px;
  color: #333333;
  line-height: 19px;
  font-weight: inherit;
}

.nav-menu-main-categories > li:hover .nav-menu-sub-categories {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
}

.nav-menu-sub-categories img {
  width: 300px;
  height: 120px;
}

/* -- ENDREGION NAVIGATION MENU */
