:root {
    --input-font-size: 18px;
}
.Filter {
    padding: 1em;
}

.form-filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.form-filter input {
    padding: 0 10px;
    font-size: var(--input-font-size);
    font-weight: 500;

}

.form-filter input::placeholder {
    font-size: var(--input-font-size);
}

.dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.search-container input{
    height: 100%;
}